<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Отель Элеон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <!-- Добавление статического CSS файла -->
    <link  href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link  href="{% static 'css/font-glyphicons.css' %}" rel="stylesheet">
    <a class="col-md-4 col-lg-3 navbar-brand nav-text"> <h1>Отель Элеон</h1> </a>

     <style>

#mytable td, #mytable th {
  border: 1px solid #ddd;
  padding: 8px;
}
#mytable tr:nth-child(even){background-color: #f2f2f2;}
#mytable tr:hover {background-color: #ddd;}
#mytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #80a6e0;
  color: white;
}
p {
                margin-top: 2em;
                margin-bottom: 2em;
               }
</style>


</head>
<body>
     <div class="container-fluid">
        <div class="row">
           {% block content%}

            {% endblock content %}
        </div>
    </div>
</body>
</html>

