{% extends "base_generic.html" %}
{% block content%}
<div class="col-md-8 col-lg-9 content-container" xmlns="http://www.w3.org/1999/html">
                <h1 class="h3 text-center mt-3">Добавление/редактирование брони</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    <h1>Бронь</h1>
                    <div class="form-group p-2">
                        <form method="POST" class="d-block p-2">{% csrf_token %}
                       {% for field in booking_form %}
                                <div>
                                    {{field.label_tag}}
                                     <div>{{field}}</div>
                                </div>
                            {% endfor %}
                    </div>
                    <button type="submit" class="save btn btn-primary">Подтвердить бронь</button>
                    <a class="btn btn-secondary" href="{% url 'info' %}">Отменить бронь</a>
                </section>
            </div>
{% endblock content %}